<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About Us</li>
    </ol>
</nav>

<section>
    <div class="mission">
        <h1 class="text-center">- Our Mission -</h1>
        <p class="text-center">make core functions of the home smarter, more efficient, and more comfortable</p>
    </div>
    <div class="about mt-5 d-flex flex-column align-items-center">
        <h2 class="text-center">About</h2>
        <p class="text-justify">Home automation or domotics is building automation for a home, called a smart home or
            smart house. A home automation system will control lighting, climate, entertainment systems, and appliances.
            It may also include
            home security such as access control and alarm systems</p>
        <p class="text-justify">When connected with the Internet, home devices are an important constituent of the
            Internet of Things. A home
            automation system typically connects controlled devices to a central hub or “gateway”.</p>
    </div>
    <hr />
</section>