<section class="banner d-flex align-items-center justify-content-between">
    <div class="banner-content">
        <h1>Control<br> your home</h1>
        <p class="my-5">A smart house with advance features that you can<br> control through a mobile application</p>
    </div>
    <div class="banner-img d-none d-lg-inline-flex">
        <img src="/assets/banner.png" alt="banner">
    </div>
</section>